body {

}

.content {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #008eb6;
}

h3 {
    text-align: center;
}

h4 {
    margin-top: 0px;
}

fieldset {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 300px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

form {
    padding: 30px;
}

.recipeList {
    padding: 10px;
}

.list-group-item {
    padding: 30px 60px;
    margin: 20px;
    background-color: rgba(0, 125, 154, 0.35);
    border-color: rgba(0, 125, 154, 0.45);

}


.list-group-item ul, p {
    display: inline-block;
    width: 450px;
}

.list-group-item li {
    margin-left: 20px;
}

.img-thumbnail {
    width: 125px;
    height: 125px;
    display: inline-block;
}